### Hierarchical Clustering

In [9]:
import pandas as pd
import numpy as np
#from sklearn.model_selection import

In [5]:
data = pd.read_excel('EastWestAirlines.xlsx', sheet_name=1, index_col=0)
data.head()

,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
ID#,,,,,,,,,,,
1,28143,0,1,1,1,174,1,0,0,7000,0
2,19244,0,1,1,1,215,2,0,0,6968,0
3,41354,0,1,1,1,4123,4,0,0,7034,0
4,14776,0,1,1,1,500,1,0,0,6952,0
5,97752,0,4,1,1,43300,26,2077,4,6935,1

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 1 to 4021
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Balance            3999 non-null   int64
 1   Qual_miles         3999 non-null   int64
 2   cc1_miles          3999 non-null   int64
 3   cc2_miles          3999 non-null   int64
 4   cc3_miles          3999 non-null   int64
 5   Bonus_miles        3999 non-null   int64
 6   Bonus_trans        3999 non-null   int64
 7   Flight_miles_12mo  3999 non-null   int64
 8   Flight_trans_12    3999 non-null   int64
 9   Days_since_enroll  3999 non-null   int64
 10  Award?             3999 non-null   int64
dtypes: int64(11)
memory usage: 503.9 KB

In [11]:
data.iloc[np.flatnonzero(data['Qual_miles'])]

,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
ID#,,,,,,,,,,,
22,185681,2024,1,1,1,13300,16,1800,9,6896,1
25,205651,500,1,1,1,4025,21,700,4,7932,0
46,288865,967,1,1,1,23600,14,2000,4,6884,1
72,84409,5031,2,1,1,15436,16,1150,4,7766,0
103,25076,1182,5,1,1,57203,14,0,0,6750,1
...,...,...,...,...,...,...,...,...,...,...,...
3925,13004,1000,1,1,1,13890,39,0,0,1572,1
3934,55922,2273,1,1,1,8104,19,4104,16,1552,0
3976,59927,739,1,1,1,3100,3,0,0,1464,1
3979,47301,1005,1,1,1,4561,4,0,0,1464,0
3984,131125,862,1,1,1,4993,11,50,1,1443,0